extends layout

block content
    section
        .container
            .row
                //.col-sm-3
                //    .left-sidebar
                //        h2 Categories
                //        //category-products
                //        #accordian.panel-group.category-products
                //            if categories
                //                each category in categories
                //                    .panel.panel-default
                //                        .panel-heading
                //                            h4.panel-title
                //                                a(href='/categories/' + category.CategorySlug)= category.CategoryName
                //        ///category-products
                //.col-sm-9.padding-right
                //features_items
                .features_items
                        h2.title.text-center Description
                            p 
                                |pharmeasy
                                